Server/WcfService/DataAccess/BOConnection.Bonus/Connected Services/SaveTermsAcceptance/SaveTermsAcceptance.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/SaveTermsAcceptance" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/SaveTermsAcceptance" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x80048" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x80048" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="SaveTermsAcceptance">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="accountId" type="string" />
          <element minOccurs="1" maxOccurs="1" name="deviceId" type="string" />
          <element minOccurs="1" maxOccurs="1" name="termsAndConditionsVersion" type="string" />
          <element minOccurs="1" maxOccurs="1" name="privacyPolicyVersion" type="string" />
        </sequence>
      </complexType>
      <complexType name="RootSaveTermsAcceptance" mixed="true">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="SaveTermsAcceptance" type="tns:SaveTermsAcceptance" />
        </sequence>
      </complexType>
      <element name="RootSaveTermsAcceptance" type="tns:RootSaveTermsAcceptance" />
    </schema>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/SaveTermsAcceptance" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="SaveTermsAcceptance">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
            <element xmlns:q1="urn:microsoft-dynamics-nav/xmlports/x80048" minOccurs="1" maxOccurs="1" name="saveTermsAcceptanceXml" type="q1:RootSaveTermsAcceptance" />
          </sequence>
        </complexType>
      </element>
      <element name="SaveTermsAcceptance_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="SaveTermsAcceptance">
    <part name="parameters" element="tns:SaveTermsAcceptance" />
  </message>
  <message name="SaveTermsAcceptance_Result">
    <part name="parameters" element="tns:SaveTermsAcceptance_Result" />
  </message>
  <portType name="SaveTermsAcceptance_Port">
    <operation name="SaveTermsAcceptance">
      <input name="SaveTermsAcceptance" message="tns:SaveTermsAcceptance" />
      <output name="SaveTermsAcceptance_Result" message="tns:SaveTermsAcceptance_Result" />
    </operation>
  </portType>
  <binding name="SaveTermsAcceptance_Binding" type="tns:SaveTermsAcceptance_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="SaveTermsAcceptance">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/SaveTermsAcceptance:SaveTermsAcceptance" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SaveTermsAcceptance">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SaveTermsAcceptance_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="SaveTermsAcceptance">
    <port name="SaveTermsAcceptance_Port" binding="tns:SaveTermsAcceptance_Binding">
      <address location="http://dhqsrvomni001:9047/LSCentral20-3-0/WS/CRONUS%20-%20LS%20Central/Codeunit/SaveTermsAcceptance" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>